.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: var(--mainBackGroundColor);
    z-index: 999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.NavbarRight{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    align-items: center;
}